.module-item {


    font-size: 12px;
    margin: 5px;
    justify-content: space-between;
    border: solid;
    align-self: flex-start;
    max-width: 100%;
    display: flex !important;
    align-items: self-end;
    background-color:lightgray !important;
    border: solid !important;
    border: 1px ;
}

.module-group {
    background-color: white;
    text-align: center;
    font-size: 57px;
    border: solid !important;
    border: 2px ;
    max-width: 100%;
}

.hrSpace{
    margin-top: 0px !important;
}

.small-text{
    font-size: 10px;
}

.symbols{
    margin-bottom: 30px;
}